DATABASE_CLIENT=postgres
DATABASE_URL=
DATABASE_SSL=false
HOST=0.0.0.0
PORT=1337

APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=
STRAPI_SYNC_TOKEN=

NEXT_APP_URL=https://your-vercel-app.vercel.app
URL=https://your-strapi-service.up.railway.app
